@{
	ViewBag.Title = "About MomCom";
}
<h2>@ViewBag.Title</h2>
<h2>Creating Community through common interest</h2>
<h4>Know a mom that doesn't seem to get out of the house much?</h4>
<h4>How many of you feel you're that mom (We won't tell)</h4>
<div>
	Making new friends as mom is hard! Maybe you just moved to a new city, maybe you just had your first child, maybe you just want to meet more moms that share your interests.<br />
	We want to help you connect to those moms. So we created Mom Com, the site that creates community through common interests. 
</div>
<h3> How does it work?</h3>
	
<div>
	Create a profile with us, fill out a quick questionaire and we'll match you with moms who have children in the same age range as yours, and share common interests with you.<br />
	We go beyond connecting you to another mom though. We will also suggest some local places where you, your new mom friends and kids can meet for a playdate!
</div>
<h3>Ready to meet new moms for a playdate? </h3>
<h3> <a href="http://localhost:62804/MomAzure/Create">Create your profile today!</a></h3>
