@{
	ViewBag.Title = "Talk to Us!";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<table>
	<tr style="text-align:center;">
		<th><img src="~/Content/images/lisa.JPG" height="160" width="160"></th>
		<th><img src="~/Content/images/tammy.JPG" height="160" width="160" /></th>
		<th><img src="~/Content/images/rebecca.JPG" height="160" width="160" /></th>
		<th><img src="~/Content/images/karina.JPG" height="160" width="160" /></th>

	</tr>
	<tr style="text-align:center;">
		<td>Lisa Dewey</td>
		<td>Tammy Cole</td>
		<td>Rebecca Allard</td>
		<td> Karina Lopez</td>
	</tr>
	<tr style="text-align:center;">
		<td> <a href="https://www.linkedin.com/in/lisa-dewey/"> <img src="~/Content/images/linkedIn.jpg" /></a> </td>
		<td><a href="https://www.linkedin.com/in/tammymcole/"> <img src="~/Content/images/linkedIn.jpg" /></a></td>
		<td><a href="https://www.linkedin.com/in/beckyallard/"> <img src="~/Content/images/linkedIn.jpg" /></a>  </td>
		<td><a href="https://www.linkedin.com/in/karina-lopez11/"><img src="~/Content/images/linkedIn.jpg" /></a> </td>
	</tr>
	<tr style="text-align:center;">
		<td><a href="https://github.com/lisadewey"> <img src="~/Content/images/git.jpg" /></a> </td>
		<td><a href="https://github.com/tammycole"> <img src="~/Content/images/git.jpg" /></a></td>
		<td><a href="https://github.com/rebeccaallard"> <img src="~/Content/images/git.jpg" /></a></td>
		<td><a href="https://github.com/KariLopez"> <img src="~/Content/images/git.jpg" /></a></td>
	</tr>
</table>

<address>
	40 Pearl Street NW<br />
	Grand Rapids, MI 49503<br />
	<abbr title="Phone">P:</abbr>
	616.555.1212
</address>

<address>
	<strong>Support:</strong>   <a href="mailto:Support@MomCom.com">Support@MomCom.com</a><br />
	<strong>Marketing:</strong> <a href="mailto:Marketing@MomCom.com">Marketing@MomCom.com</a>
</address>