@{
	ViewBag.Title = "Get in touch with us!";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<style>
	body {
		background-color: #f4f4f4;
	}

	.bitmojil {
		border-radius: 50%;
	}

.bitmoji {
		border-radius: 50%;
		margin-left: 20px;
	}

	.icon {
		margin-left: 20px;
	}
	 
</style>
<table>
	<tr style="text-align:center;">
		<th><img class="bitmojil" src="~/Content/images/lisa.JPG" height="200" width="200"></th>
		<th><img class="bitmoji" src="~/Content/images/tammy.JPG" height="200" width="200" /></th>
		<th><img class="bitmoji" src="~/Content/images/rebecca.JPG" height="200" width="200" /></th>
		<th><img class="bitmoji" src="~/Content/images/karina.JPG" height="200" width="200" /></th>

	</tr>
	<tr style="text-align:center; font-weight: bold;">
		<td>Lisa Dewey</td>
		<td class="icon">Tammy Cole</td>
		<td class="icon">Rebecca Allard</td>
		<td class="icon"> Karina Lopez</td>
	</tr>
	<tr style="text-align:center;">
		<td><a href="https://www.linkedin.com/in/lisa-dewey/"> <img src="~/Content/images/linkedIn.jpg" /></a> </td>
		<td><a href="https://www.linkedin.com/in/tammymcole/"> <img class="icon" src="~/Content/images/linkedIn.jpg" /></a></td>
		<td><a href="https://www.linkedin.com/in/beckyallard/"> <img class="icon" src="~/Content/images/linkedIn.jpg" /></a>  </td>
		<td><a href="https://www.linkedin.com/in/karina-lopez11/"><img class="icon" src="~/Content/images/linkedIn.jpg" /></a> </td>
	</tr>
	<tr style="text-align:center;">
		<td><a href="https://github.com/lisadewey"> <img src="~/Content/images/git.jpg" /></a> </td>
		<td><a href="https://github.com/tammycole"> <img class="icon" src="~/Content/images/git.jpg" /></a></td>
		<td><a href="https://github.com/rebeccaallard"> <img class="icon" src="~/Content/images/git.jpg" /></a></td>
		<td><a href="https://github.com/KariLopez"> <img class="icon" src="~/Content/images/git.jpg" /></a></td>
	</tr>
</table>
<br><br>

<address>
	40 Pearl Street NW<br />
	Grand Rapids, MI 49503<br />
	<abbr title="Phone">P:</abbr>
	616.555.1212
</address>

<address>
	<strong>Support:</strong>   <a href="mailto:Support@MomCom.com">Support@MomCom.com</a><br />
	<strong>Marketing:</strong> <a href="mailto:Marketing@MomCom.com">Marketing@MomCom.com</a>
</address>