@{
    ViewBag.Title = "Talk to Us!";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    40 Pearl Street NW<br />
    Grand Rapids, MI 49503<br />
    <abbr title="Phone">P:</abbr>
    616.555.1212
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@MomCom.com">Support@MomCom.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@MomCom.com">Marketing@MomCom.com</a>
</address>